*{
  padding: 0;
  margin: 0;
}


body{
  margin: 0;
  padding: white;
  color: green;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



 /* sidebar stuff */
.sidebar{
  height: 100px;
  background-color: rgb(42, 58, 165);
  width: 200px;
  height: 325px;
  overflow-y: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span{
  display: none;
}

.sidebar-logo{
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list{
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item{
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover{
  background-color: aquamarine;
  cursor: pointer;
}

.sidebar-list-item > a{
  text-decoration: none;
  color: rgb(215, 220, 250);
}
.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

.sidebar .sidebar-list.hidden {
  display: none;
}


/* disclaimer */

.disclaimer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* responsible for blur */
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.dis-box {
  width: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease-out;
  cursor:pointer;
}

.dis-box.hidden {
  display: none;
}


/* main stuff */
/* .main-thing {
  overflow-y: auto;
  padding: 20px 20px;
  color: rgb(0, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
}*/


.main-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: auto; 
} 

